body
{
    background-color: gold;
    text-align: center;
    color:black;
}
main
{
background-color: darkred;
color: gold;
text-align: center;
}


.aside{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color:darkred;
    color: gold;
    border-color: antiquewhite;
    text-align: left;
}
.aside2
{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color:darkred;
    color: gold;
    border-color: antiquewhite;
    text-align: left;
}

footer
{
background-color: darkred;
color: aliceblue;
position: fixed; bottom: 0; right: 0; left: 0; height: 30px;

}
.g
{
    position: fixed; bottom: 1; right: 0; left: 0;
    text-align: center;
}
